$bg: rgb(255, 255, 255);
$shadow: 10px rgba(0, 0, 0, 0.308);
$icon-color: rgb(88, 88, 88);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  background-color: rgb(56, 0, 0);
}

#home {
  background-color: $bg;
}

header {
  background-color: #13c69b;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 5px $shadow;

  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
  }

  .searchbar {
    margin-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-right: 10px;

    .mag-glass {
      position: relative;
      font-size: 2em;
      color: $icon-color;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      border-radius: 20px;
      font-size: 1.5em;
      padding: 10px 5px;
      border: none;
    }
  }
}

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  box-shadow: 0px -5px $shadow;

  li {
    font-size: 2em;
    color: $icon-color;
  }
}
